<%- include('../../layouts/ejs/head') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../../layouts/ejs/navigation') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach((product)=>{ %>
                    <li class="cart__item">
                        <h1><%= mongo ? product.productId.title : product.title %></h1>
                        <h2>Quantity: <%= mongo ? product.quantity : product.cartItem.quantity %></h2>
                        <form action="<%= mongo ? '/mongo/cart-delete-item' : '/cart-delete-item' %>" method="POST">
                            <input type="hidden" value="<%= mongo ? product.productId._id : product.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <hr>
                <form action="<%= mongo ? '/mongo/create-order' : '/create-order' %>" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <h1>No products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../../layouts/ejs/end') %>