<%- include('../../layouts/ejs/head') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../../layouts/ejs/navigation') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach((product)=>{ %>
                    <li class="cart__item">
                        <p><%= product.title %> (<%= product.cartItem.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= product.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <hr>
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <h1>No products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../../layouts/ejs/end') %>